<!-- <footer class="footer" id="footer">
        <div class="container-fluid">
            <p class="copyright pull-right">
                &copy; {{test | date: 'yyyy'}} <a href="#">xxxxxx</a>, xxxxxxxxxxx xxxxxxxx xxxxxxxxxx xxxxxxxx
            </p>
        </div>
    </footer> -->

    <footer id="footer" role="contentinfo">
            
    
    <section class="footer-body">
    
            &copy; {{test | date: 'yyyy'}} <a href="#">xxxxxx</a>, xxxxxxxxxxx xxxxxxxx xxxxxxxxxx xxxxxxxx
    </section>
</footer>
    